html {
    height: 100%;
}
a {
  color:black;
}

a:visited {
  color:black;
}
a:hover {
    color: red;
}
a.selected {
  color:red;
}
body {
    height: 100%;
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
    box-sizing: border-box;
}

.column {
    height: 100%;  /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#left {
    flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
}

.top-left {
    flex-shink: 0;
    background-color: rgb(220,220,220);
    padding: 6px;
     z-index: 2;

}
.sidebar {
  background-color: rgb(240,240,240);
  padding: 6px;
  min-width: 180px;

}
.top-right {
    flex-shrink: 0;
    display: inline-flex;
    background-color: rgb(240,240,240);
    padding-left: 10px;
    box-shadow: -6px 6px 6px 0px #BBBBBB;
}
#frame {
  width: 800px;
  height: 95%;
  overflow: hidden;

}
ul {
    /*display: inline-flex*/
    list-style: circle;
    font-size: 20px;


}
img {
  width:80%;
}
ul#nav {
  padding: 4px;
}
li.main {
  list-style: none;

}
ul a {
  text-decoration: none;
}
a.main {
  font-weight: bold;
}
.bottom {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
    //margin: 4px;
}
